.header-main-actions {
    padding: 10px;
}

.admin-dashboard {
    padding: 3% 10% 0;
}

.admin-dashboard-table {
    align-self: center;
    border-collapse: collapse;
    width: 100%;
}

.user-row {
    border-top: thin solid;
    padding: 2% 0 0;
}

.user-column {
    text-align: center;
    border-right: thin solid;
}

.user-column-actions {
    text-align: center;
}

.user-action {
    float: left;
    margin: 1%;
    display: inline;
}

.admin-dashboard-articles {
    padding: 50pt 0 0;
}

.article-title {
    overflow-wrap: break-word;
}

.article-action-buttons {
    display: inline-block;
}

.article-container {
    margin: 0 0 10pt;
}