.header-main-actions {
    padding: 10px;
}

.index-page-content {
    padding: 10%;
    margin: auto;
    text-align: center;
}

.header {
    margin: 0 0 50pt;
}

.articles-button {
    alignment: bottom;
    margin: 0 0 50pt;
}