.header-main-actions {
    padding: 10px;
}

.articles-page-content {
    padding: 1% 5% 0;
}

.header {
    justify-content: space-between;
}

.header-button-editor, .header-button-personal-area {
    display: inline-block;
}

.article-title {
    overflow-wrap: break-word;
}

.article-action-buttons {
    display: inline-block;
}