.header-main-actions {
    padding: 10px;
}

.login-page-content {
    padding: 10%;
    margin: auto;
    text-align: center;
}

.log-in-button, .sign-up-button {
    display: inline-block;
    margin: 0 20pt 0;
}
