/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

.must-contain {
    font-weight: bold;
}

.setting-password {
    text-align: center;
}

.container-for-message{
    display: flex;
    justify-content: center;
}

.message {
    width: max-content;
    text-align: left;
    display: none;
}

.password-matching {
    display: none;
}
