.header-main-actions {
    padding: 10px;
}

.password-reset-page-content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.password-new-header {
    margin: 0 0 50pt;
}

.secret-question-block {
    margin: 0 0 50pt;
}

.secret-question {
    font-weight: bold;
}