.header-main-actions {
    padding: 10px;
}

.header {
    justify-content: space-between;
    margin: 0 0 50pt;
}

.header-admin-button, .header-logout-button {
    display: inline-block;
}

.reminder {
    color: red;
}

.personal-area-page-content {
    padding: 1% 10% 0;
}

.updating-base-info {
    width: max-content;
    text-align: left;
    margin: 0 0 50pt;
}

.updating-password, .setting-password {
    width: max-content;
    text-align: left;
}

.articles-block {
    margin: 50pt 0 0;
}

.article-container {
    margin: 0 0 10pt;
}

.article-title {
    overflow-wrap: break-word;
}

.article-action-buttons {
    display: inline-block;
}