<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/admin_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div class="header-main-actions">
    <div class="header-main-link">
        <a href="/">Main</a>
    </div>
    <div>
        <p th:text="${error}"></p>
    </div>
</div>
<div class="admin-dashboard">
    <div class="admin-dashboard-title">
        <h1>Users</h1>
    </div>
    <table class="admin-dashboard-table">
        <tr>
            <th class="user-column">ID</th>
            <th class="user-column">Username</th>
            <th class="user-column">Roles</th>
            <th class="user-column-actions">Actions</th>
        </tr>
        <tr class="user-row" th:each="user : ${allUsers}">
            <td class="user-column" th:text="${user.getId()}"></td>
            <td class="user-column" th:text="${user.getUsername()}"></td>
            <td class="user-column">
                <ul th:each="role: ${user.getRoles()}">
                    <li th:text="${role.getName()}"></li>
                </ul>
            </td>
            <td class="user-column-actions">
                <div class="user-actions">
                    <div class="user-action">
                        <form action="/admin" method="post">
                            <input type="hidden" name="userId" th:value="${user.getId()}"/>
                            <input type="hidden" name="action" value="delete"/>
                            <button type="submit" class="simple-red-button">Delete (block)</button>
                        </form>
                    </div>
                    <div class="user-action">
                        <form action="/admin" method="post">
                            <input type="hidden" name="userId" th:value="${user.getId()}"/>
                            <input type="hidden" name="action" value="make_admin"/>
                            <button type="submit" class="simple-red-button">Make admin</button>
                        </form>
                    </div>
                    <div class="user-action">
                        <form action="/admin" method="post">
                            <input type="hidden" name="userId" th:value="${user.getId()}"/>
                            <input type="hidden" name="action" value="make_user"/>
                            <button type="submit" class="simple-red-button">Make user</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>