<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/articles_style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/http_cdn.jsdelivr.net_npm_vue@2.js"></script>
    <script src="/static/js/http_cdn.jsdelivr.net_npm_axios_dist_axios.js"></script>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<div class="header-main-actions">
    <div class="header-main-link">
        <a href="/">Main</a>
    </div>
</div>
<div class="articles-page-content">
    <div class="header row">
        <div>
            <h1>Articles</h1>
        </div>
        <div class="header-buttons">
            <div class="header-button-editor">
                <form action="/article_editor">
                    <button>New article</button>
                </form>
            </div>
            <div class="header-button-personal-area">
                <form action="/personal_area">
                    <button>Personal area</button>
                </form>
            </div>
        </div>
    </div>
    <div id="articles">
        <briene-article
                v-for="article in articles"
                v-bind:key="article.id"
                v-bind:article="article"
        ></briene-article>
    </div>
</div>
<script>

    Vue.component('briene-article', {
        props: ['article'],
        template: `
            <div class="article-container">
                <h3 class="article-title">
                    <a v-bind:href="'/articles/' + article.id">{{ article.title }}</a>
                </h3>
            </div>
        `,
    });

    new Vue({
        el: '#articles',
        data() {
            return {
                articles: [],
            }
        },
        mounted() {
            let url = `${ window.location.origin }/api/articles`;

            axios
                .get(url)
                .then(response => {
                    this.articles = response.data;
                })
                .catch(err => console.log(err));
        }
    });

</script>
</body>
</html>