<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/article_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title th:text="${article.getTitle()}"></title>
</head>
<body>
<div class="header-main-actions">
    <div class="header-main-link">
        <a href="/">Main</a>
    </div>
    <div th:if="${canEdit}" class="article-action-buttons">
        <p th:text="${article.getState()}"></p>
        <a th:href="'/article_editor/' + ${article.getId()}">Edit</a>
        <a th:href="'/articles/' + ${article.getId()} + '/delete'">Delete</a>
    </div>
    <div class="bookmarking">
        <div th:if="${inBookmarks}">
            <a th:href="'/articles/' + ${article.getId()} + '/remove_from_bookmarks'">Remove from bookmarks</a>
        </div>
        <div th:unless="${inBookmarks}">
            <a th:href="'/articles/' + ${article.getId()} + '/add_to_bookmarks'">Add to bookmarks</a>
        </div>
    </div>
</div>
<div class="article-page-content">
    <div class="article-about row">
        <div class="article-author">
            <a th:text="${article.getAuthor().getUsername()}"
               th:href="'/authors/' + ${article.getAuthor().getUsername()}"
            ></a>
        </div>
        <div class="article-publication-date">
            <p th:text="${publicationDate}"></p>
        </div>
    </div>
    <div th:utext="${article.makeHTML()}" class="article-content"></div>
</div>
</body>
</html>