<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/articles_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<div class="header-main-actions">
    <div class="header-main-link">
        <a href="/">Main</a>
    </div>
</div>
<div class="articles-page-content">
    <div class="header row">
        <div>
            <h1>Articles</h1>
        </div>
        <div class="header-buttons">
            <div th:if="${canUseEditor}" class="header-button-editor">
                <form action="/article_editor">
                    <button>Editor</button>
                </form>
            </div>
            <div class="header-button-personal-area">
                <form action="/personal_area">
                    <button>Personal area</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <p th:text="${error}"></p>
    </div>
    <div>
        <div>
            <div th:if="${isAdmin}" class="articles-types">
                <a href="/articles">All</a>
                <a href="/articles?type=published">Published</a>
                <a href="/articles?type=drafts">Drafts</a>
            </div>
<!--todo вынести в кабинет админа-->
            <div th:each="article : ${articles}" class="article-container">
                <h3 class="article-title"><a th:href="'/articles/' + ${article.getId()}" th:text="${article.getTitle()}"></a></h3>
                <div th:if="${isAdmin}" class="article-action-buttons">
                    <p th:text="${article.getState()}"></p>
                    <a th:href="'/article_editor/' + ${article.getId()}">Edit</a>
                    <a th:href="'/articles/delete/' + ${article.getId()}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>