<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/http_cdn.jsdelivr.net_npm_vue@2.js"></script>
    <meta charset="UTF-8">
    <style>
        body {
            padding: 3% 10%
        }
    </style>
    <title>Hello, it is Vue</title>
</head>
<body>

<div id="app" title="message">
    <h1>{{message}}</h1>
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>

<div id="app-4">
    <ol>
        <todo-item
                v-for="item in todos" v-bind:todo="item" v-bind:key="item.id"
        ></todo-item>
    </ol>
</div>

<div id="app-5">
    <p>{{message}}</p>
    <div>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <span v-if="reversed">
        Oh yeah, you can!
    </span>
</div>

</body>
<script>

let app = new Vue({
    el: '#app',
    data: {
        message: 'Hello, it is Vue'
    }
});

let app2 = new Vue({
    el: '#app-2',
    data: {
        message: 'You loaded this page on ' + new Date().toLocaleString()
    }
})

Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{todo.text}}</li>'
});


let app4 = new Vue({
    el: '#app-4',
    data: {
        todos: [
            {id: 1, text: 'Learn JS'},
            {id: 2, text: 'Learn Vue'},
            {id: 3, text: 'Build awesome things'}
        ]
    }
});

app4.todos.push({id: 4, text: 'Show this to the world!'});

let app5 = new Vue({
    el: '#app-5',
    data: {
        reversed: false,
        message: 'Can you reverse me?',
    },
    methods: {
        reverseMessage: function() {
            this.message = this.message.split('').reverse().join('');
            this.reversed = !this.reversed;
        }
    }
});

</script>
</html>