<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/http_cdn.jsdelivr.net_npm_vue@2.js"></script>
    <meta charset="UTF-8">
    <style>
        body {
            padding: 3% 10%
        }
    </style>
    <title>Hello, it is Vue</title>
</head>
<body>

<div id="app" title="message">
    <h1>{{message}}</h1>

    <div>
      <span v-bind:title="messageAboutTime">
          Under the <code>/experimental</code> you can find part of service, powered by Vue.JS. Here are some links:
      </span>
    </div>

    <div>
        <ul>
            <page-link
                    v-for="link in links" v-bind:link="link"
            ></page-link>
        </ul>
    </div>
</div>
</body>
<script>

    Vue.component('page-link', {
        props: ['link'],
        template: `<li><a v-bind:href="link.url">{{link.text}}</a></li>`
    });

    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello, it is Vue.JS',
            messageAboutTime: 'You loaded this page on ' + new Date().toLocaleString(),
            links: [
                {url: '/experimental', text: 'This page'},
                {url: '/experimental/articles', text: 'Articles'},
                {url: '/experimental/authors/tom_suworof', text: 'My own page'},
            ]
        }
    });

</script>
</html>