<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/index_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Briene</title>
</head>
<body>
<div class="greeting">
    <h1>Welcome to Briene</h1>
</div>
<div class="content">
    <div>
        <form action="/articles">
            <button>Articles</button>
        </form>
    </div>
    <div class="footer">
        <div>
            <a href="/terms_of_use">Terms of use</a>
        </div>
        <div>
            <a href="https://github.com/TomSuworof/educa">Source code</a>
        </div>
    </div>
</div>
</body>
</html>