<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/login_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <a href="/">Main</a>
</div>
<div>
    <div>
        <form method="POST" action="/login">
            <h2 class="welcome">Log in</h2>
            <div>
                <label>
                    <input name="username" type="text" placeholder="Username" autofocus="autofocus"/>
                    <br>
                </label>
            </div>
            <div>
                <label>
                    <br>
                    <input name="password" type="password" placeholder="Password"/>
                </label>
            </div>
            <div class="buttons">
                <div class="log-in-button">
                    <button type="submit">Log In</button>
                </div>
                <div class="sign-up-button">
                    <a href="/registration" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </form>
    </div>
    <div>
        <a href="/password_reset">Forgot password</a>
    </div>
</div>
</body>
</html>