<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/login_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
<div>
    <a href="/">Main</a>
</div>
<div>
    <h1 class="welcome">Enter username:</h1>
    <div>
        <form action="/password_reset/send" method="get">
            <div>
                <label>
                    <input type="text" name="username" autofocus required placeholder="Username">
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <h1 th:text="${message}"></h1>
    </div>
    <div>
        <h3 th:text="${note}"></h3>
    </div>
</div>
</body>
</html>