<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/login_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Cancelled</title>
</head>
<body>
<div>
    <a href="/">Main</a>
</div>
<div>
    <h1>Request cancelled</h1>
</div>
</body>
</html>