<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/personal_area_style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/password_checking_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Personal area</title>
</head>
<body>
<div class="header-main-actions">
    <a href="/">Main</a>
</div>
<div class="personal-area-page-content">
    <div class="header row">
        <div>
            <h1>Personal area</h1>
        </div>
        <div class="header-buttons">
            <div th:if="${show_admin_page}" class="header-admin-button">
                <form action="/admin">
                    <button>Admin</button>
                </form>
            </div>
            <div class="header-logout-button">
                <form action="/logout">
                    <button>Logout</button>
                </form>
            </div>
        </div>
    </div>
    <div class="reminder">
        <p th:text="${passwordError}"></p>
    </div>
    <div class="updating-user-info">
        <div class="updating-base-info">
            <div>
                <h2>Base information</h2>
            </div>
            <form method="post" th:modelAttribute="userForm" action="/personal_area/update_base_info">
                <div>
                    <p>Username:</p>
                    <label>
                        <input type="text" name="username" th:value="${currentUser.getUsername()}" placeholder="Username" disabled>
                    </label>
                </div>
                <div>
                    <p>Email:</p>
                    <label>
                        <input type="email" name="email" th:value="${currentUser.getEmail()}" placeholder="Email">
                    </label>
                </div>
                <div>
                    <p>Enter current password to submit changes:</p>
                    <div>
                        <label>
                            <input type="password" name="password" placeholder="Current password">
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="updating-password">
            <div>
                <h2>Updating password</h2>
            </div>
            <form method="post" action="/personal_area/update_password">
                <div>
                    <p>Enter old password:</p>
                    <div>
                        <label>
                            <input type="password" name="passwordOld" placeholder="Current password">
                        </label>
                    </div>
                </div>
                <div>
                    <p>New password:</p>
                </div>
                <div class="setting-password">
                    <div>
                        <label>
                            <input id="psw" type="password" name="passwordNew" placeholder="New password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                        </label>
                    </div>
                    <div class="container-for-message">
                        <div id="message" class="message">
                            <p class="must-contain">Password must contain the following:</p>
                            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                            <p id="number" class="invalid">A <b>number</b></p>
                            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                        </div>
                    </div>
                    <div>
                        <label>
                            <input id="pswConfirm" type="password" name="passwordNewConfirm" placeholder="Confirm your new password" required>
                        </label>
                        <div id="password-matching" class="password-matching">
                            <p id="match" class="invalid">Passwords match</p>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" onclick="return checkFields()">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="articles-bookmarks">
        <div>
            <h2>Bookmarks</h2>
        </div>
        <div th:each="article : ${bookmarks}" class="article-container">
            <a th:href="'/articles/' + ${article.getId()}"><h3 th:text="${article.getTitle()}" class="article-title"></h3></a>
        </div>
    </div>
    <div class="articles-block">
        <div>
            <h2>Articles</h2>
        </div>
        <div class="reminder">
            <p th:text="${articlesError}"></p>
        </div>
        <div class="articles-types">
            <a href="/personal_area">All</a>
            <a href="/personal_area/articles?type=published">Published</a>
            <a href="/personal_area/articles?type=drafts">Drafts</a>
        </div>
        <div th:each="article : ${articles}" class="article-container">
            <a th:href="'/articles/' + ${article.getId()}"><h3 th:text="${article.getTitle()}" class="article-title"></h3></a>
            <div class="article-action-buttons">
                <p th:text="${article.getState()}"></p>
                <a th:href="'/article_editor/' + ${article.getId()}">Edit</a>
                <a th:href="'/personal_area/articles/delete/' + ${article.getId()}">Delete</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/password_check.js"></script>
</body>
</html>