<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/backend/src/main/resources/static/css/author_style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/backend/src/main/resources/static/js/http_cdn.jsdelivr.net_npm_vue@2.js"></script>
    <script src="/backend/src/main/resources/static/js/http_cdn.jsdelivr.net_npm_axios_dist_axios.js"></script>
    <meta charset="UTF-8">
    <title th:text="${authorName}">Author</title>
</head>
<body>
<div class="header-main-actions">
    <div class="header-main-link">
        <a href="/backend/src/main/java">Main</a>
    </div>
</div>
<div class="author-page-content" id="author">
    <div class="header row">
        <div>
            <h1>{{ author.username }}</h1>
<!--            выбрасывает ошибку TypeError: username is undefined-->
        </div>
    </div>
    <div>
        <briene-article
                v-for="article in author.articles"
                v-bind:key="article.id"
                v-bind:article="article"
        ></briene-article>
    </div>
</div>
<script>

    Vue.component('briene-article', {
        props: ['article'],
        template: `
            <div class="article-container">
                <h3 class="article-title">
                    <a v-bind:href="'/articles/' + article.id">{{ article.title }}</a>
                </h3>
            </div>
        `,
    });

    new Vue({
        el: '#author',
        data() {
            return {
                author: undefined,
            }
        },
        created() {
            let url = `${ window.location.origin }/api/authors/${ document.title }`;

            axios
                .get(url)
                .then(response => {
                    this.author = response.data;
                    if (this.author.username === undefined) {
                        window.location.href = `${ window.location.origin }/error`; // redirecting to '/error
                    }
                })
                .catch(err => {
                    console.log(err);
                });
        }
    });

</script>
</body>
</html>