<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/backend/src/main/resources/static/css/author_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title th:text="${author.getUsername()}"></title>
</head>
<body>
<div class="header-main-actions">
    <div class="header-main-link">
        <a href="/backend/src/main/java">Main</a>
    </div>
</div>
<div class="author-page-content">
    <div class="header row">
        <div>
            <h1 th:text="${author.getUsername()}">Author</h1>
        </div>
    </div>
    <div class="author-articles">
        <div th:each="article : ${articles}" class="article-container">
            <h3 class="article-title"><a th:href="'/articles/' + ${article.getId()}" th:text="${article.getTitle()}"></a></h3>
        </div>
    </div>
</div>
</body>
</html>