<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/backend/src/main/resources/static/css/error_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div class="header-main-actions">
    <div class="header-main-link">
        <a href="/backend/src/main/java">Main</a>
    </div>
</div>
<div class="error-page-content">
    <h1>Sorry, we can not find you are looking for</h1>
</div>
</body>
</html>