<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/backend/src/main/resources/static/css/password_reset_style.css" rel="stylesheet" type="text/css" media="all" />
    <meta charset="UTF-8">
    <title>Cancelled</title>
</head>
<body>
<div class="header-main-actions">
    <a href="/backend/src/main/java">Main</a>
</div>
<div class="password-reset-page-content">
    <h1>Sorry, request cancelled</h1>
</div>
</body>
</html>