<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Terms of use</title>
</head>
<body>
<ul>
    <li>By clicking the "I agree" button, I express my voluntary, unambiguous and informed consent that my data will be
        transferred by the Briene service to Heroku for storage and processing.</li>
    <li>I agree that by transferring and storing data in this service, I am fully responsible for their content in
        accordance with the legislation of the Russian Federation.</li>
</ul>
</body>
</html>